# --------------------------------------------------------------------------
# Kodi standalone service
#
# Author: Bernhard Bablok
# License: GPL3
#
# Website: https://github.com/bablokb/pi-pvr
#
# --------------------------------------------------------------------------

[Unit]
Description=Kodi Media Center
 
[Service]
Type=simple
Environment=HOME=/root
ExecStart=/usr/bin/kodi

[Install]
WantedBy=basic.target
